<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manaflasktest</title>
</head>
<body>
    <script type="text/javascript">
        atOptions = {
            'key': '99167aa70492f99f5397a3b9ce7cb0b5',
            'format': 'iframe',
            'height': 60,
            'width': 468,
            'params': {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') +
            '://www.effectivedisplaycontent.com/99167aa70492f99f5397a3b9ce7cb0b5/invoke.js"></scr' + 'ipt>');
    </script>
    <h1>manaflasktest</h1>
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic consequatur eos, vitae natus tempora quasi et deleniti, sit aliquam, error harum eveniet nesciunt qui impedit cumque. Reprehenderit, ipsum officiis.</h1>
</body>
</html>
